<div>
    <h2 id="page-heading">
        <span jhiTranslate="jhipsterApp.musica.home.title">Musicas</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-musica" [routerLink]="['/musica/new']">
            <fa-icon icon="plus"></fa-icon>
            <span  jhiTranslate="jhipsterApp.musica.home.createLabel">
            Create a new Musica
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="musicas?.length === 0">
        <span jhiTranslate="jhipsterApp.musica.home.notFound">No musicas found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="musicas?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="loadPage.bind(this)">
                    <th scope="col"  jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="name"><span jhiTranslate="jhipsterApp.musica.name">Name</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="track"><span jhiTranslate="jhipsterApp.musica.track">Track</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="playlist.id"><span jhiTranslate="jhipsterApp.musica.playlist">Playlist</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let musica of musicas ;trackBy: trackId">
                    <td><a [routerLink]="['/musica', musica.id, 'view']">{{ musica.id }}</a></td>
                    <td>{{ musica.name }}</td>
                    <td>{{ musica.track }}</td>
                    <td>
                        <div *ngIf="musica.playlist">
                            <a [routerLink]="['/playlist', musica.playlist?.id, 'view']" >{{ musica.playlist?.id }}</a>
                        </div>
                    </td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/musica', musica.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/musica', musica.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(musica)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div *ngIf="musicas?.length > 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>

        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="ngbPaginationPage" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage($event)"></ngb-pagination>
        </div>
    </div>
</div>
