<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="musica">
            <h2><span jhiTranslate="jhipsterApp.musica.detail.title">Musica</span> {{ musica.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="jhipsterApp.musica.name" [ngbTooltip]="'jhipsterApp.musica.help.name' | translate">Name</span></dt>
                <dd>
                    <span>{{ musica.name }}</span>
                </dd>
                <dt><span jhiTranslate="jhipsterApp.musica.track">Track</span></dt>
                <dd>
                    <span>{{ musica.track }}</span>
                </dd>
                <dt><span jhiTranslate="jhipsterApp.musica.playlist">Playlist</span></dt>
                <dd>
                    <div *ngIf="musica.playlist">
                        <a [routerLink]="['/playlist', musica.playlist?.id, 'view']">{{ musica.playlist?.id }}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/musica', musica.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
